.cookieConsentBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0b73b1;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookieConsentBanner p {
  margin: 0;
  padding: 0;
  display: inline;
}

.cookieConsentBanner button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #0b73b1;
  color: white;
  border: none;
  cursor: pointer;
}
