.container {
  margin-top: 30px;
  padding: 0 20px;
}

.imageadvert {
  height: 100px;
  position: relative;
  width: 100%;
  max-width: 70vw;
  display: block;
  margin: 0 auto;
}

.articleInfo {
  margin: 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.textContainer1 {
  flex: 2.25;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.textContainer2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.searchContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  font-size: 16px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  color: grey;
  font-size: 24px;
  transform: translateY(-50%);
}

.advertsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.advert {
  width: 100%;
  max-width: 70vw;
  font-size: small;
  text-decoration: underline;
  text-align: center;
  padding-left: 0;
  margin: 0 auto;
}

.advertImgContainer {
  text-align: center;
}

.advertImg {
  width: 100%;
  max-width: 85%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.socialLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .articleInfo {
    flex-direction: column;
    align-items: center;
  }

  .textContainer1,
  .textContainer2 {
    max-width: 100%;
  }

  .searchContainer {
    max-width: 100%;
  }

  .advert {
    max-width: 100%;
    padding-left: 0;
  }
}

.paragraphs {
  font-size: 16px; /* Adjust font size for readability */
  line-height: 1.6; /* Increase line height for better spacing */
  margin-bottom: 20px; /* Add space between paragraphs */
  color: #333; /* Set a readable text color */
  text-align: justify; /* Justify text for a cleaner look */
}

@media (max-width: 480px) {
  .searchInput {
    font-size: 14px;
  }

  .searchIcon {
    font-size: 20px;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0b73b1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
