.container {
  margin-top: 30px;
}

.imageadvert {
  height: 150px;
  position: relative;
  width: 70vw;
  display: block;
  margin: 0 auto;
}

.post {
  margin-top: 60px;
  display: flex;
  align-content: center;
  gap: 50px;
}

.topPosts {
  text-align: justify;
}

.noListStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.postItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccd;
  padding-bottom: 20px;
}

.postImage {
  margin-right: 20px;
}

.advertsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.advert {
  width: 70vw;
  font-size: small;
  text-decoration: underline;
  text-align: center;
  padding-left: 550px;
}

.textContainer1 {
  flex: 2.25;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textContainer2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advertImgContainer {
  text-align: center;
}
.head {
  text-transform: capitalize;
}

.advertImg {
  width: 85%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.topPosts {
  text-align: center;
}

.noListStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.listItem {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.listItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.postTitle {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.postDesc {
  font-size: 0.8em;
  margin: 0 0 10px 0;
  color: var(--softTextColor);
}
.articleCard {
  margin-bottom: 15px;
  display: flex;
}
.author {
  font-size: 0.9em;
  color: #000;
}

.searchContainer {
  position: relative;
  width: 400px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  font-size: 16px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  color: grey;
  font-size: 24px;
  transform: translateY(-50%);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
}

.signupContainer {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signupbutton {
  background-color: #0b73b1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.readMore {
  color: var(--primaryColor);
  text-decoration: underline;
}

.socialmedia {
  width: 30px;
}

.lightText {
  font-weight: 300; /* Light font weight */
}
.lightText:hover {
  text-decoration: underline;
}
.boldText {
  font-weight: 300; /* Bold font weight */
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }
  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 64px;
  }
  .imageadvert {
    width: 70vw;
  }
  .advert {
    font-size: small;
    text-decoration: underline;
    text-align: center;
    padding-left: 200px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 48px;
  }
  .textContainer2 {
    display: none;
  }
}

@media screen and (max-width: 768) {
  .title {
    font-size: 36px;
  }
}
