.container {
  display: flex;
  justify-content: center; /* Center the inner content */
  height: 90px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg);
  z-index: 1000;
}

.navbarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1536px; /* Match the .wrapper max-width */
  padding: 10px 80px; /* Match the .wrapper padding */
  box-sizing: border-box;
  border-bottom: 2px solid #0b73b1;
  margin: 0 auto;
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social_icons {
  color: #0b73b1;
  transition: color 0.3s ease;
}
.social_icons:hover {
  color: #2991ce;
}

.join_newsletter_button {
  background-color: #2991ce;
  border: 2px solid #0b73b1;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  font-family: inherit;
}

.join_newsletter_button:hover {
  background-color: transparent;
  color: #0b73b1;
}
.logo {
  flex: 1;
  text-align: center;
}

.logo img {
  width: 174px;
  height: 52px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.link:hover {
  color: #2991ce;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  background-color: var(--bg);
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownColumn {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  text-decoration: none;
  color: var(--textColor);
  white-space: nowrap;
  border-bottom: 1px solid #2991ce;
  margin-bottom: 5px;
  font-size: small;
}

.dropdownItem:hover {
  text-decoration: underline;
}
.rssLink {
  margin-left: 10px;
  color: #fcae7a; /* Classic RSS orange */
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.rssLink:hover {
  color: #e65c00; /* Darker orange on hover */
  cursor: pointer;
}

.themeToggleContainer {
  margin-right: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 1536px) {
  .navbarContent {
    max-width: 1366px;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1280px) {
  .navbarContent {
    max-width: 1024px;
    padding: 10px 30px;
  }
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
  .logo img {
    width: 115px;
    height: 45px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .navbarContent {
    max-width: 1024px;
    padding: 10px;
  }

  .social {
    display: none;
  }

  .logo {
    text-align: left;
  }
  .logo img {
    width: 80px;
    height: 35px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbarContent {
    max-width: 768px;
    padding: 10px 15px;
  }

  .social {
    display: none;
  }

  .logo {
    text-align: left;
  }
  .logo img {
    width: 80px;
    height: 35px;
    margin-left: 0;
  }
}

/* Mobile-specific adjustments */
@media screen and (max-width: 640px) {
  .navbarContent {
    padding: 16px 16px;
  }

  .logo img {
    width: 100px; /* Smaller logo for mobile */
    height: auto; /* Maintain aspect ratio */
  }

  .link {
    display: none;
  }

  .themeToggleContainer {
    margin-right: 10px;
  }
}
@media screen and (max-width: 540px) {
  .navbarContent {
    max-width: 100vw;
    padding: 10px 15px;
  }

  .links {
    justify-content: flex-end;
  }

  .link {
    display: none;
  }

  .logo img {
    width: 100px;
    height: auto;
    margin-left: 0;
  }
}

@media screen and (max-width: 430px) {
  .navbarContent {
    max-width: 100vw;
    padding: 10px 15px;
  }

  .links {
    justify-content: flex-end;
  }

  .link {
    display: none;
  }

  .logo img {
    width: 100px;
    height: auto;
    margin-left: 0;
  }
}

@media screen and (max-width: 412px) {
  .navbarContent {
    max-width: 100vw;
    padding: 10px 15px;
  }

  .links {
    justify-content: flex-end;
  }

  .link {
    display: none;
  }

  .logo img {
    width: 100px;
    height: auto;
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .navbarContent {
    max-width: 100vw;
    padding: 10px 15px;
  }

  .links {
    justify-content: flex-end;
  }

  .link {
    display: none;
  }

  .logo img {
    width: 100px;
    height: auto;
    margin-left: 0;
  }
}
