.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--softTextColor);
  padding: 20px 0px;
  border-top: 1px solid #ccc;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date {
  font-weight: 200;
  font-size: medium;
}
.currentYear{ 
  font-weight: 300;
}

.social {
  display: flex;
  flex: 1;
  gap: 12px;
  align-items: center;
 
}

.social_icons{ 
  color:#282f32;
  
}
.icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 90px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.listTitle {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .links {
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .links {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .links {
    font-size: 14px;
  }
}
