.items {
  flex-direction: column;
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.textContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imageContainer {
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
}

.postTitle {
  font-size: 14px;
  font-weight: 250;
  color: var(--softTextColor);
}
.detail {
  margin: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  width: max-content;
}
.category.career_advice {
  background-color: #57c4ff31;
}
.category.data_engineering {
  background-color: #da85c731;
}
.category.data_science {
  background-color: #7fb88133;
}
.category.sql {
  background-color: #ff795736;
}
.category.language_models {
  background-color: #ffb04f45;
}
.category.machine_learning {
  background-color: #b2a4d5;
}
.category.mlops {
  background-color: #f5a623;
}
.category.programming {
  background-color: #4caf50;
}
.category.default {
  background-color: #cccccc33;
  color: #fff;
}

.date {
  color: grey;
}
.detail {
  font-size: 12px;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgrey;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .item {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .item {
    display: none;
  }
}
