.container {
}

.title {
  margin: 50px 0px;
  text-decoration: underline;
}

.moreCard{
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.morePost{
  margin: 40px 0;
}
.listStyle{ 
  margin: 10px 0;
   
}
.listItem { 
  padding-bottom: 10px;
}



@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
