.container {
  display: flex;
  gap: 20px;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recentContainer1 {
  flex: 2.25;
  background-color: var(--cardBg);
  color: var(--textColor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recentContainer2 {
  flex: 1;
  background-color: var(--cardBg);
  color: var(--textColor);

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category {
  color: var(--textColor);
}

.title {
  font-size: 1.75rem;
  line-height: 1.4;
  margin-bottom: 15px;
  color: var(--textColor);
  text-decoration: underline;
}

.subtitle {
  font-size: 1.2em;
  margin: 20px 0;
  color: var(--textColor);
}

.moreCard {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.listStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-bottom: 10px;
}

.listItem a {
  color: var(--textColor);
  text-decoration: none;
  font-size: 1em;
}

.listItem a:hover {
  text-decoration: underline;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive Breakpoints */

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .recentContainer1,
  .recentContainer2 {
    width: 100%;
    padding: 15px;
  }

  .recentContainer2 {
    border-left: none;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.3em;
    font-weight: 400;
  }
  .link {
    font-size: 1.25em;
  }
  .subtitle {
    font-size: 1.35em;
  }

  .listItem a {
    font-size: 1em;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 10px;
  }

  .recentContainer1,
  .recentContainer2 {
    padding: 10px;
  }

  .title {
    font-size: 1.3em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .listItem a {
    font-size: 0.8em;
  }
}
